/* Global box-sizing and font-family */
:root {
  --text-color: #fff;
  --border-color: #636363;
  --positive-green: green;
  --negative-red: red;
}

*, *::before, *::after {
  box-sizing: border-box;
}
body {
  font-family:
    ui-sans-serif,
    system-ui,
    -system-ui,
    -apple-system,
    BlinkMacSystemFont,
    Roboto, Helvetica, Arial,
    sans-serif,
    "Apple Color Emoji";
    padding: min(2rem, 2.5vw);
    /*background: linear-gradient(to top right, #195c19,#071800);*/
    background-color: #166d3b;
    background-image: linear-gradient(147deg, #020b04 0%,  #022812 74%);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: var(--text-color);
} 

p {
  font-weight: 20;
  color: var(--text-color);
}

th, tr{
  font-weight: 20;
}